<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap iot uap6 uap3">

  <Identity
    Name="c5f0070d-2ca1-4ee1-9c3a-876c939edd4d"
    Publisher="CN=Argon"
    Version="1.0.15.0" />

  <Properties>
    <DisplayName>Argon</DisplayName>
    <PublisherDisplayName>Argon</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Argon"
        Description="Argon  is an instant messaging and VoIP social platform which allows communication through voice calls, video calls, text messaging, and media."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="voipCall"/>
    <uap:Capability Name="videosLibrary"/>
    <iot:Capability Name="systemManagement"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="phoneCall"/>
    <uap6:Capability Name="graphicsCapture"/>
    <uap:Capability Name="chat"/>
    <Capability Name="codeGeneration"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="blockedChatMessages"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>
